
html
body
	height 100%
body
	width 100%
	min-width 320px
	border-top 1px solid #e64010
a
	text-decoration none
	color #e64010
a:visited
	color #e64010	
.outerwrapper
	min-height 100%
	height auto !important
	margin 0 auto -40px
	padding 0 0 40px
	width 100%

.wrapper
	width 90%
	margin 0 auto
	max-width:768px;
	
video
	
	max-width 100%
	margin: 1em 0
	height auto

.myvideo
	margin 0 auto
	text-align center
nav
	height auto	
.logo
	width 140px
	height 140px
	border-radius 50%
	margin 2em auto 0 auto
	background-color #e64010

.logo a span
	display block
	width 140px
	height 95px
	font-size 2em
	font-weight 500
	text-align center
	color #fff
	padding-top 45px
.logo a
	display block
	width 140px
	height 140px

h1
	font-family "ff-tisa-sans-web-pro", sans-serif
	color #e64010
	font-size:2em


#drag1
	margin 0 0 1em
	z-index 999
#div1
	width 320px
	height 170px
	background-image url("../images/map.svg")
	background-size cover
	background-repeat no-repeat
.map-container
	width 320px
	height 170px
	position relative
	margin 0 auto
.map-container > img
	position absolute
	top 14px
	left 158px
footer
	width 100%
	height 40px
	border-top 2px solid #cccccc
	background-color #585858
	.colophone-inner
		margin 0 auto
		width 90%
		p
			color #cccccc
			line-height normal
			margin 0.3em 0
			text-align center